body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
.todo-input, .todo-search {
    border: 1px solid rgb(146, 143, 143);
    border-radius: 6px;
    width: 30vw;
    display: flex;
    margin: 10px;
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
    -webkit-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    -moz-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    box-shadow: 0 0 5px 2px rgb(146, 143, 143);
}
.todo-search-field {
    width: 100%;

}
.todo-input-field {
    width: 100%;
}
.todo-lists {
    border: 1px solid rgb(146, 143, 143);
    border-radius: 6px;
    height: 100%;
    width: 30vw;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    -moz-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    box-shadow: 0 0 5px 2px rgb(146, 143, 143);
}
.uncompleted {
    border: 1px solid rgb(146, 143, 143);
    height: 50%;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    -moz-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    box-shadow: 0 0 5px 2px rgb(146, 143, 143);
}
.completed {
    border: 1px solid rgb(146, 143, 143);
    height: 50%;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    -moz-box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    box-shadow: 0 0 5px 2px rgb(146, 143, 143);
    text-decoration: line-through;
}
h2 {
    margin:10px;
}
button:hover {
    cursor:pointer;
}

.list-date {
    color:#bbbac4
}

