/* table {
    border: 1px solid black;
}
thead tr th {
    border: 1px solid black;
}
tbody tr td {
    border: 1px solid black;
}
.table-text {
    text-align: center;
}
.table-button {
    display: flex;
}
.edit-button {
    color:blue;
} */
